$header: url(../images/bg-masthead.jpg);
$showcase-1: url(../images/bg-showcase-1.jpg);
$showcase-2: url(../images/bg-showcase-2.jpg);
$showcase-3: url(../images/bg-showcase-3.jpg);
$blue: #007bff;
$gray: #F8F9FA;